@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Greetings, everyone!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h3>Top fiction books</h3>
    <p>1. The Master and Margarita</p>
    <p>2. Hard to Be a God</p>
    <p>3. Nineteen Eighty-Four</p>
    <p>4. Brave New World</p>
    <p>5. Flowers for Algernon</p>
    <p>6. Dune</p>
    <p>7. A Song of Ice and Fire</p>
    <p>8. Animal Farm</p>
</div>
